
@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Luba">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta name="author" content="HiBootstrap">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="referrer" content="no-referrer">
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/axios.js"></script>
    <script src="~/Scripts/axioshttp.js"></script>
    <title>Search</title>
    <style>
        .setMiddle {
            width: 50rem;
            margin: 0 auto;
        }

        .theShadow {
            box-shadow: 0 2px 8px;
        }

        .TopStatusBar {
            width: 100%;
            height: 5rem;
            background-color: paleturquoise;
            position: initial;
            z-index: 10;
        }

        .logoBox {
            width: 8rem;
            float: left;
        }

        .mainForm {
            padding-top: 0.95rem;
            float: left;
        }

        .search_input {
            width: 35.5rem;
            height: 2.5rem;
            border-radius: 10px;
            border: grey 2px solid;
            line-height: 2.5rem;
            padding-left: 1.35rem;
        }

        .inp_sub {
            background-color: rgb(0, 148, 255);
            color: rgb(255, 255, 255);
            border: hidden;
            padding: 7px 10px 7px 10px;
            border-radius: 10%;
            background-color: #0094ff;
            color: #fff;
            border: hidden;
            width: 4.8rem;
            height: 2.8rem;
            font-size: 1rem;
        }

        .LoGo {
            width: 100%;
        }

        input {
            outline: none;
        }

        .navbar-right-inner {
            position: absolute;
            right: 3rem;
            width: 8rem;
            height: 5rem;
            justify-content: space-between;
            margin: 0 -10px;
            align-items: center;
            -webkit-box-pack: justify;
            -webkit-box-align: center;
            display: -webkit-box;
        }

        .navbar-right-item {
            padding: 0 10px 10px;
        }

        .showResult {
            margin-left: 8rem;
            width: 45rem;
        }

        .choiceBox {
            width: 50rem;
            height: 3rem;
            margin-left: 8rem;
        }

        .pright {
            width: 100%;
            height: 100%;
        }

        .highlight {
            border-bottom: 3px solid;
        }

        .smallChoice {
            font-size: 22px;
            margin-right: 2px;
            width: 33.3%;
            text-align: center;
            cursor: pointer;
            color: black;
        }

        .choiceBoxBack {
            background-color: aliceblue;
            width: 100%;
            height: 3rem;
            padding-bottom: 0.5rem;
            align-items: center;
        }

        .smallChoice:hover {
            color: #0d60f7;
            border-bottom: 3px solid;
        }
    </style>
    <style>
        .review-item {
            font: 12px Helvetica,Arial,sans-serif;
            line-height: 1.62;
            font-size: 13px;
            color: rgb(17, 17, 17);
            margin: 0;
            padding: 20px 0px;
            position: relative;
        }

        .subject-img {
            font: 12px Helvetica,Arial,sans-serif;
            line-height: 1.62;
            font-size: 13px;
            cursor: pointer;
            color: #666699;
            text-decoration: none;
            display: block;
            float: left;
            margin-right: 20px;
            max-width: 75px;
            max-height: 107px;
        }

        .imagePic {
            font: 12px Helvetica,Arial,sans-serif;
            line-height: 1.62;
            font-size: 13px;
            cursor: pointer;
            color: #666699;
            border: 0;
            border-width: 0;
            vertical-align: middle;
            max-width: 100%;
        }

        .main-hd {
            font: 12px Helvetica,Arial,sans-serif;
            position: relative;
            line-height: 1.4;
            color: rgb(153, 153, 153);
            overflow: hidden;
            padding: 0px;
            margin-bottom: 0px;
            height: 24px;
            font-size: 0px;
        }

        .ThePortrait {
            font: 12px Helvetica,Arial,sans-serif;
            line-height: 1.4;
            font-size: 0px;
            cursor: pointer;
            color: #666699;
            width: 24px;
            height: 24px;
            border: 0;
            border-width: 0;
            vertical-align: middle;
            max-width: 100%;
        }

        .name {
            font: 12px Helvetica,Arial,sans-serif;
            line-height: 1.4;
            cursor: pointer;
            color: #666699;
            text-decoration: none;
            font-size: 0.9rem;
            margin-left: 10px;
            vertical-align: middle;
        }

            .name:hover {
                text-decoration: none;
            }

        .main-meta {
            font: 12px Helvetica,Arial,sans-serif;
            line-height: 1.4;
            margin: 0px 0px 0px 5px;
            font-weight: 300;
            color: rgb(153, 153, 153);
            font-size: 13px;
            margin-left: 10px;
            vertical-align: middle;
            float: right;
        }

        .main-bd {
            font: 12px Helvetica,Arial,sans-serif;
            line-height: 1.62;
            font-size: 13px;
            color: rgb(17, 17, 17);
            overflow-wrap: break-word;
            margin: 10px 0px 0px;
            padding: 0px 10px 0px 100px;
        }

        h2 {
            overflow-wrap: break-word;
            padding: 0;
            font: 15px Arial, Helvetica, sans-serif;
            color: #072;
            margin: 0 0 12px 0;
            line-height: 150%;
            font-size: 14px;
            margin-bottom: 10px;
            margin-top: 0px;
        }

        .review-short {
            font: 12px Helvetica,Arial,sans-serif;
            line-height: 1.62;
            font-size: 13px;
            overflow-wrap: break-word;
            padding: 0;
            color: rgb(73, 73, 73);
            overflow: hidden;
            word-break: break-word;
            margin: 0px;
            cursor: pointer;
        }

        .short-content {
            font: 12px Helvetica,Arial,sans-serif;
            line-height: 1.62;
            font-size: 13px;
            overflow-wrap: break-word;
            color: rgb(73, 73, 73);
            word-break: break-word;
            cursor: pointer;
            margin: 0;
            padding: 0;
        }

        .hidden {
            font: 12px Helvetica,Arial,sans-serif;
            line-height: 1.62;
            font-size: 13px;
            color: rgb(17, 17, 17);
            overflow-wrap: break-word;
            margin: 0;
            padding: 0;
            display: none;
        }

        .action {
            font: 12px Helvetica,Arial,sans-serif;
            line-height: 1.62;
            font-size: 13px;
            color: rgb(17, 17, 17);
            overflow-wrap: break-word;
            margin: 0;
            padding: 0;
            margin-top: 18px;
        }

        .Thetitle {
            margin-bottom: 0rem;
            font-weight: 500;
            line-height: 1.2;
            font-size: 1.2rem;
        }

        .ToDo {
            cursor: pointer;
        }

        .suggest {
            width: 35.5rem;
            margin-top: -0.24rem;
            border-bottom-color: #d6d6d6;
            cursor: default;
        }

        .sugChi {
            background-color: #efefef;
            border: 1px solid #00000005;
        }

        .sugPar {
            border: 2px solid #0094ff !important;
            border-top: 2px solid #ffffff00 !important;
        }

        .ctotop {
            position: fixed;
            right: 9rem;
            bottom: 6rem;
            cursor: pointer;
        }

        .fold:hover {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <script>
        document.onreadystatechange = function () {
            loading();
            ChangeStyle();
        }

        function loading() {
            var list = ['../public/static/uploads/openinggif/smalllogo1.gif', '../public/static/uploads/openinggif/smalllogo2.gif'];
            document.getElementById('logoimg').addEventListener('mouseover', function () {
                var ranLogo = list[Math.round(Math.random())];
                document.getElementById('logoimg').src = ranLogo;
            });
        }
        addEventListener('scroll', function () {
            var height = document.documentElement.scrollTop || document.body.scrollTop;
            var StatusBarheight = 20;
            if (height > StatusBarheight) {
                $(".TopStatusBar").addClass("theShadow");
                $(".TopStatusBar").css('position', 'fixed');
                $("#totop").show();
            } else {
                $(".TopStatusBar").removeClass("theShadow");
                $(".TopStatusBar").css('position', 'initial');
                $("#totop").hide();
            }
        })

        function ChangeStyle() {
            var winWidth = window.innerWidth;
            if (winWidth > 1440) {
                $(".leftBox").addClass("setMiddle");
                $(".choiceBox").addClass("setMiddle");
                $(".choiceBox").css('margin-left', 'auto');
                $(".showResult").addClass("setMiddle");
                $(".showResult").css('width', '45rem');
                $(".showResult").css('margin-left', 'auto');
                $("#totop").css('right', '9rem');
            }
            else {
                $(".leftBox").removeClass("setMiddle");
                $(".choiceBox").removeClass("setMiddle");
                $(".choiceBox").css('margin-left', '8rem');
                $(".showResult").css('margin-left', '8rem');
                $("#totop").css('right', '3rem');
            }
        }

        addEventListener('resize', function () {
            ChangeStyle();
        })
    </script>
    @* 顶部栏 *@
    <div class="TopStatusBar">
        <div class="leftBox">
            <div class="logoBox">
                <a href="../Animation/index">
                    <img id="logoimg" class="LoGo" alt="logo" src="~/public/static/uploads/openinggif/smalllogo1.gif">
                </a>
            </div>
            <div class="mainForm">
                <form id="form1" name="form1" method="post" action="" target="iframe" @*target="_blank"*@ onsubmit="addSearch()">
                    <div id="theSearch">
                        <input class="search_input" type="text" placeholder="" name="keyword" autocomplete="off" id="input_text" v-on:input="setSug()" v-on:porpertychange="setSug()" v-on:focus="changeSug()" onmouseover="changecolor(1)" onmouseout="changecolor(0)">
                        <input type="hidden" name="sid" value="">
                        <input class="inp_sub" type="submit" value="搜索" id="sub">
                        <div id="suggestion" class="suggest" style="display:none;position: absolute;z-index: 100;">
                            <ul class="list-group sugPar">
                                <li class="list-group-item sugChi" v-for="(single,i) in suggestions" v-on:mouseover="light($event)" v-on:mouseout="dark($event)" onclick="addSearch();">{{single}}</li>
                            </ul>
                        </div>
                    </div>
                </form>
                <iframe id="iframe" name="iframe" style="display:none;"></iframe>
            </div>
            <script>
                $("body").click(function (e) {
                    if ($.contains($("#input_text")[0], e.target) || $("#input_text")[0] == e.target || $.contains($("#suggestion")[0], e.target) || $("#suggestion")[0] == e.target) {
                    } else {
                        var input = document.getElementById("input_text");
                        var suggestion = document.getElementById("suggestion");
                        suggestion.style.display = "none";
                        input.style.borderBottomColor = "grey";
                        input.style.borderRadius = "10px";
                        changecolor(0);
                    }
                });

                function changecolor(num) {
                    var input = document.getElementById("input_text");
                    var suggestion = document.getElementById("suggestion");
                    if (num == 1)
                        if (suggestion.style.display == "block")
                            return null;
                        else
                            input.style.border = "#0094ff 2px solid";
                    else
                        if (document.activeElement.id == "input_text")
                            return null;
                        else
                            input.style.border = "grey 2px solid";
                }

                var sug = null;
                const searching = new Vue({
                    el: "#theSearch",
                    data: {
                        suggestions: [],
                        oriDate: ""
                    },
                    created() {
                        this.changeSug();
                        document.title = "想知道什么搜搜看吧 (ゝ∀･)";
                        var input = document.getElementById("input_text");
                        input.style.borderBottomColor = "grey";
                    },
                    mouted() {

                    },
                    methods: {
                        //搜索提示
                        async suggest() {
                            this.oriDate = $('#input_text').val();
                            const { data: res } = await axios.get('/Search/getSuggest', {
                                params: {
                                    keyWord: $('#input_text').val()
                                }
                            })
                            this.suggestions = res["suggestion"];
                            //console.log(this.suggestions);
                            this.changeSug()
                        },
                        //提示防抖
                        async setSug() {
                            clearTimeout(sug);
                            sug = setTimeout(this.suggest, 150);
                        },
                        //提示框样式改变
                        async changeSug() {
                            var input = document.getElementById("input_text");
                            var suggestion = document.getElementById("suggestion");
                            if (this.suggestions.length != 0) {
                                suggestion.style.display = "block";
                                input.style.borderBottomColor = "#d6d6d6";
                                input.style.borderRadius = "10px 10px 0px 0px";
                            }
                            else {
                                suggestion.style.display = "none";
                                input.style.borderBottomColor = "#0094ff";
                                input.style.borderRadius = "10px";
                            }
                        },
                        //鼠标悬浮选项样式改变
                        async light(event) {
                            $(event.target).addClass('active');
                            $('#input_text').val(event.target.innerText);
                        },
                        async dark(event) {
                            $(event.target).removeClass('active');
                            $('#input_text').val(this.oriDate);
                        }
                    }
                })
            </script>

        </div>
        @* 登录 *@
        <div class="navbar-top-action-item navbar-top-right">
            <script>
                function leaveUrl() {
                    sessionStorage.setItem('thePass', window.location.href);
                }
            </script>
            <div class="navbar-right-inner">
                <div class="navbar-right-item">
                    <div class="navbar-right-action">
                        @{
                            if (ViewBag.username == null)
                            {
                                <div class="navbar-right-action-item navbar-right-account navbar-option-item bottom-align-text">
                                    @Html.ActionLink("登录", "Login", "Users")
                                </div>
                                <div class="navbar-right-action-item navbar-right-wishlist navbar-option-item">
                                    @Html.ActionLink("注册", "Register", "Users")
                                </div>
                            }
                            else
                            {
                                @Ajax.ActionLink("注销", "LoginOut", "Users", new { }, new AjaxOptions()
                           {
                               InsertionMode = InsertionMode.Replace,
                               HttpMethod = "Post",
                               OnSuccess = "Loginout"
                           }, new { @class = "fa fa-sign-out", @style = "line-height:65px;" })
                                <div class="navbar-right-action-item navbar-right-wishlist navbar-option-item">
                                    <a href="@Url.Action("Center", "User", new { id = ViewBag.userid })" title="@ViewBag.username"><img src="@Html.Action("ThePortrait", "Community")" alt="photo" style="width:40px;height:40px;border-radius:50%;vertical-align:-20%;" /></a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* 选项栏 *@
    <div class="choiceBoxBack">
        <div class="user-center__nav choiceBox d-flex justify-content-around text-white">
            <div class="smallChoice p-2 highlight">测评</div>

            <div class="smallChoice p-2">动漫</div>

            <div class="smallChoice p-2">用户</div>
        </div>
    </div>
    @* 回到顶部 *@
    <div class="ctotop" id="totop">
        <img src="~/public/static/uploads/img/back2top.svg" alt="回到顶部" />
    </div>
    <div class="showResult">
        <div class="theEvaluationSearch pright" id="Evas">
            @*@Html.Action("SearchEvaluation", "Search")*@
            <div v-for="(singleEva,i) in Evaluations" v-bind:class="'E' + singleEva.source.evaluationid">
                <div class="main review-item" v-bind:id="'E' +singleEva.source.evaluationid">
                    <a class="subject-img" href="javascript:void(0);" v-on:click="AnimationUrl(singleEva.source.animationid)">
                        <img class="imagePic" v-bind:alt="singleEva.source.aname" v-bind:title="singleEva.source.aname" v-bind:src="singleEva.source.aimagepic">
                    </a>
                    <header class="main-hd">
                        <a href="javascript:void(0)" v-on:click="UsersUrl(singleEva.source.userid)" class="avator">
                            <img class="ThePortrait" width="24" height="24" v-bind:src="singleEva.source.portrait">
                        </a>
                        <template v-if="singleEva.highlight.username">
                            <a href="javascript:void(0)" v-on:click="UsersUrl(singleEva.source.userid)" class="name" v-html="singleEva.highlight.username[0]">{{singleEva.highlight.username[0]}}</a>
                        </template>
                        <template v-else>
                            <a href="javascript:void(0)" v-on:click="UsersUrl(singleEva.source.userid)" class="name">{{singleEva.source.username}}</a>
                        </template>
                        <span v-bind:content="singleEva.source.time" class="main-meta">{{handleScroe(singleEva.source.score)}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{to_reverse_time(singleEva.source.time)}}</span>
                    </header>
                    <div class="main-bd">
                        <template v-if="singleEva.highlight.title">
                            <a href="javascript:void(0);" v-on:click="EvaluationsUrl(singleEva.source.evaluationid)" class="Thetitle" v-bind:id="'ET'+singleEva.source.evaluationid" v-html="singleEva.highlight.title[0]">{{singleEva.highlight.title[0]}}</a>
                        </template>
                        <template v-else>
                            <a href="javascript:void(0);" v-on:click="EvaluationsUrl(singleEva.source.evaluationid)" class="Thetitle">{{singleEva.source.title}}</a>
                        </template>
                        <div class="review-short">
                            <template v-if="singleEva.highlight.content">
                                <div v-bind:id="'ShortValue'+singleEva.source.evaluationid" style="cursor:default;" class="short-content" v-html="handleHighlight(singleEva.highlight.content)">
                                    {{handleHighlight(singleEva.highlight.content)}}
                                    &nbsp;
                                </div>
                            </template>
                            <template v-else>
                                <div v-bind:id="'ShortValue'+singleEva.source.evaluationid" style="cursor:default;" class="short-content" v-html="handleContent(singleEva.source.content)">
                                    {{handleContent(singleEva.source.content)}}
                                    &nbsp;
                                </div>
                            </template>
                            <div v-bind:id="'LongValue'+singleEva.source.evaluationid" class="full-content" style="cursor:default; display:none;" v-html="handle(singleEva.source.content)">
                                {{handle(singleEva.source.content)}}
                            </div>
                            <a v-on:click="openList(singleEva.source.evaluationid)" v-bind:class="'unfold'+singleEva.source.evaluationid" class="fold" title="展开">展开</a>
                        </div>
                        @*<div class="hidden">
                                <div v-bind:id="'LongValue'+singleEva.source.evaluationid" class="full-content">{{singleEva.source.content}}</div>
                            </div>*@
                        <div class="action">
                            <span class="ToDo" v-on:click="addlike(singleEva.source.evaluationid)" style=" margin-right: 2rem;">
                                <img src="~/public/static/uploads/img/点赞.png">
                                <span v-bind:id="'TheLikeNmum'+singleEva.source.evaluationid">
                                    {{singleEva.source.likenum}}
                                </span>
                            </span>
                            <span class="ToDo" v-on:click="adddislike(singleEva.source.evaluationid)">
                                <img src="~/public/static/uploads/img/点踩.png">
                                <span v-bind:id="'TheDislikeNmum'+singleEva.source.evaluationid">
                                    {{singleEva.source.dislikenum}}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <span v-if="EvaluationsMoreLoad==false" style="width: 100%;
        font-size: 1.2rem;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        height: 5rem;
        font-weight: bolder;
    ">没有了哟~</span>
        </div>
        <script>
            var keyWord;
            const app = new Vue({
                el: "#Evas",
                data: {
                    Evaluations: [],              //储存对象
                    tempEvaluations: [],          //临时储存对象
                    EvaluationsMoreLoad: false,   // 标记是否还有更多数据
                    loadingEvaluations: false,    // 标记是否正在加载
                    counterE: 0,                 // 加载页数
                    keyword: ""
                },
                created() {
                    this.init()
                },
                mounted() {
                    var _this = this;
                    window.addEventListener('scroll', function () {
                        //theHeight();      //测试页面高度的测试代码
                        if (_this.loadingEvaluations) {
                            //当正在加载时直接返回，防止多次加载
                            return;
                        }
                        var EvaluationsBody = document.getElementById("Evas");
                        //检测关注界面是否打开，未打开则直接返回
                        if (EvaluationsBody.style.display != "none") {
                            var scr = document.body.scrollTop;                  // 滚动的高度
                            var clientHeight = document.body.clientHeight;      // 屏幕静态下的高度
                            var scrHeight = document.body.scrollHeight || document.body.scrollHeight; // 整个网页的实际高度，兼容Pc端
                            if (scr + clientHeight + 100 >= scrHeight) {
                                if (_this.EvaluationsMoreLoad) {       // 如果还有更多数据的标记为true，则将正在加载的标记置为true，将页数传给数据获取函数
                                    _this.loadingEvaluations = true;
                                    if (_this.counterE == 0)
                                        _this.counterE = _this.counterE + 19;
                                    else
                                        _this.counterE = _this.counterE + 20;
                                    _this.buildEvaluations(_this.counterE, _this.keyword);
                                } else {
                                    this.loadingEvaluations = false;   //未加载直接将正在加载标记置为false
                                    return;
                                }
                            }
                        } else {
                            return;
                        }
                    });
                },
                methods: {
                    async init() {
                        var url = window.location.search;
                        url = url.substring(1, url.length);
                        var arr = url.split("&");
                        var obj = new Object();
                        for (var i = 0; i < arr.length; i++) {
                            var temp_arr = arr[i].split("=");
                            obj[decodeURIComponent(temp_arr[0])] = decodeURIComponent(temp_arr[1]);
                        }
                        this.keyword = obj['KeyWord'];
                        $('#input_text').val(this.keyword);
                        this.buildEvaluations(0, this.keyword);
                        document.title = this.keyword + "_Pilipala搜索";
                        keyWord = this.keyword + "_Pilipala搜索";
                    },
                    async buildEvaluations(PageNum, keyword) {
                        if (PageNum == null) {
                            PageNum = 0;
                        }
                        // 获取数据
                        const { data: res } = await axios.get('/Search/getEva', {
                            params: {
                                page: PageNum,
                                keyWord: keyword
                            }
                        })
                        // this.tempEvaluations是临时对象，用于对下一步操作进行进一步判断
                        this.tempEvaluations = res.result;

                        //console.log(res.result);
                        //console.log(0);
                        //console.log(res.count);
                        //console.log(1);
                        //console.log(this.tempEvaluations);
                        //console.log(2);
                        //console.log(typeof (res.result));
                        if (res.count != 0 && res.count == 20) {
                            //此时不是最后一页，正常加载
                            this.Evaluations = this.Evaluations.concat(this.tempEvaluations); //将临时对象的内容与粉丝对象进行拼接
                            this.EvaluationsMoreLoad = true;                              //将还有更多的标记置为true
                        } else if (res.count != 0 && res.count < 20) {
                            //此时已经是最后一页，将还有更多的标记置为false
                            this.Evaluations = this.Evaluations.concat(this.tempEvaluations);
                            this.EvaluationsMoreLoad = false;
                        } else {
                            //其他情况直接置false
                            this.EvaluationsMoreLoad = false;
                        }
                        //加载结束，将正在加载标记置false
                        this.loadingEvaluations = false;
                        //console.log(this.Evaluations);
                    },
                    async AnimationUrl(id) {
                        window.open('../Animation/details?id=' + id);
                    },
                    async UsersUrl(id) {
                        window.open('../User/Center/?id=' + id);
                    },
                    async EvaluationsUrl(id) {
                        window.open('../Evaluationid/Details/' + id);
                    },
                    async addlike(id) {
                        const { data: res } = await axios.get('/Evaluationid/AddLike', {
                            params: {
                                id: id
                            }
                        })
                        if (res == "login") {
                            alert("请先登录")
                            sessionStorage.setItem('thePass', window.location.href);
                            window.location.href = "/Users/Login";
                        } else {
                            $("#TheLikeNmum" + id).html(res);
                        }
                    },
                    async adddislike(id) {
                        const { data: res } = await axios.get('/Evaluationid/AdddisLike', {
                            params: {
                                id: id
                            }
                        })
                        if (res == "login") {
                            alert("请先登录")
                            sessionStorage.setItem('thePass', window.location.href);
                            window.location.href = "/Users/Login";
                        } else {
                            $("#TheDislikeNmum" + id).html(res);
                        }
                    },
                    to_reverse_time: function (time) {
                        var date = new Date(time);
                        var year = date.getFullYear();
                        /* 在日期格式中，月份是从0开始的，因此要加0
                         * 使用三元表达式在小于10的前面加0，以达到格式统一  如 09:11:05
                         * */
                        var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                        var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                        var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                        var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                        var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
                        // 拼接
                        return year + "-" + month + "-" + day + " " + hours + ":" + minutes + ":" + seconds;
                    },
                    handleHighlight: function (content) {
                        if (typeof (content) == "object") {
                            var value = "";
                            for (var i = 0; i < content.length; i++) {
                                value += content[i] + "……";
                            }
                            value = value.replace(/\\n/g, '<br/>');
                            return value;
                        }
                        else {
                            return null;
                        }
                    },
                    handleContent: function (content) {
                        content = content.replace(/\\n/g, '<br/>');
                        content = content.substring(0, 300);
                        return content;
                    },
                    handle: function (content) {
                        content = content.replace(/\\n/g, '<br/>');
                        return content;
                    },
                    handleScroe: function (content) {
                        if (content == null)
                            return "未评分";
                        else
                            return content + "分";
                    },
                    async openList(id) {
                        if ($(".unfold" + id).attr("title") == "展开") {
                            $("#LongValue" + id).show();
                            $("#ShortValue" + id).hide();
                            $(".unfold" + id).text("收起");
                            $(".unfold" + id).attr("title", "收起");
                        }
                        else {
                            $("#LongValue" + id).hide();
                            $("#ShortValue" + id).show();
                            $(".unfold" + id).text("展开");
                            $(".unfold" + id).attr("title", "展开");
                            $("html, body").animate({ scrollTop: $(".E" + id).offset().top - 80 }, 800);
                        }
                    }
                }
            })
        </script>
        <div class="theAnimationSearch pright" style="display:none" id="Ani">
            @*@Html.Action("SearchAnimation", "Search")*@
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4 element-item pb-30 lighting" v-for="(singleAni,i) in Animations">
                    <div class="trending-product-card">
                        <a href="javascript:void(0);" v-on:click="AnimationUrl(singleAni.animationid)">
                            <div class="product-card-thumb">
                                <img v-bind:src="singleAni.aimagepic" v-bind:alt="singleAni.aname" class="product-main-thumb">
                                <img v-bind:src="singleAni.aimagepic" v-bind:alt="singleAni.aname" class="product-hover-thumb">
                            </div>
                            <div class="product-card-content">
                                <h3>{{singleAni.aname}}</h3>
                            </div>
                        </a>
                        <div class="product-card-button">
                            <ul>
                                <li>
                                    <div class="quickview-redirect inline-popup-1">
                                        <a href="javascript:void(0);" v-on:click="AnimationUrl(singleAni.animationid)" data-effect="mfp-zoom-in">
                                            <i class="flaticon-eye"></i>
                                        </a>
                                        <p class="product-tooltip">浏览</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <span v-if="AnimationsMoreLoad==false" style="width: 100%;
        font-size: 1.2rem;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        height: 5rem;
        font-weight: bolder;
    ">没有了哟~</span>
        </div>
        <script>
            const app1 = new Vue({
                el: "#Ani",
                data: {
                    Animations: [],              //储存对象
                    tempAnimations: [],          //临时储存对象
                    AnimationsMoreLoad: false,   // 标记是否还有更多数据
                    loadingAnimations: false,    // 标记是否正在加载
                    counterA: 0,                 // 加载页数
                    keyword: ""
                },
                created() {
                    this.init()
                },
                mounted() {
                    var _this = this;
                    window.addEventListener('scroll', function () {
                        //theHeight();      //测试页面高度的测试代码
                        if (_this.loadingAnimations) {
                            //当正在加载时直接返回，防止多次加载
                            return;
                        }
                        var AnimationsBody = document.getElementById("Ani");
                        //检测关注界面是否打开，未打开则直接返回
                        if (AnimationsBody.style.display != "none") {
                            var scr = document.body.scrollTop;                  // 滚动的高度
                            var clientHeight = document.body.clientHeight;      // 屏幕静态下的高度
                            var scrHeight = document.body.scrollHeight || document.body.scrollHeight; // 整个网页的实际高度，兼容Pc端
                            if (scr + clientHeight + 100 >= scrHeight) {
                                if (_this.AnimationsMoreLoad) {       // 如果还有更多数据的标记为true，则将正在加载的标记置为true，将页数传给数据获取函数
                                    _this.loadingAnimations = true;
                                    if (_this.counterA == 0)
                                        _this.counterA = _this.counterA + 19;
                                    else
                                        _this.counterA = _this.counterA + 20;
                                    _this.buildAnimations(_this.counterA, _this.keyword);
                                } else {
                                    this.loadingAnimations = false;   //未加载直接将正在加载标记置为false
                                    return;
                                }
                            }
                        } else {
                            return;
                        }
                    });
                },
                methods: {
                    async init() {
                        var url = window.location.search;
                        url = url.substring(1, url.length);
                        var arr = url.split("&");
                        var obj = new Object();
                        for (var i = 0; i < arr.length; i++) {
                            var temp_arr = arr[i].split("=");
                            obj[decodeURIComponent(temp_arr[0])] = decodeURIComponent(temp_arr[1]);
                        }
                        this.keyword = obj['KeyWord'];
                        this.buildAnimations(0, this.keyword);
                    },
                    async buildAnimations(PageNum, keyword) {
                        if (PageNum == null) {
                            PageNum = 0;
                        }
                        // 获取数据
                        const { data: res } = await axios.get('/Search/getAni', {
                            params: {
                                page: PageNum,
                                keyWord: keyword
                            }
                        })
                        // this.tempAnimations是临时对象，用于对下一步操作进行进一步判断
                        this.tempAnimations = res.result;
                        //console.log(res.result);
                        //console.log(0);
                        //console.log(res);
                        //console.log(1);
                        //console.log(this.tempAnimations);
                        //console.log(2);
                        //console.log(typeof (res.result));
                        if (res.count != 0 && res.count == 20) {
                            //此时不是最后一页，正常加载
                            this.Animations = this.Animations.concat(this.tempAnimations); //将临时对象的内容与粉丝对象进行拼接
                            this.AnimationsMoreLoad = true;                              //将还有更多的标记置为true
                        } else if (res.count != 0 && res.count < 20) {
                            //此时已经是最后一页，将还有更多的标记置为false
                            this.Animations = this.Animations.concat(this.tempAnimations);
                            this.AnimationsMoreLoad = false;
                        } else {
                            //其他情况直接置false
                            this.AnimationsMoreLoad = false;
                        }
                        //加载结束，将正在加载标记置false
                        this.loadingAnimations = false;
                        //console.log(this.Animations);
                    },
                    async AnimationUrl(id) {
                        window.open('../Animation/details?id=' + id);
                    }
                }
            })
        </script>
        <div class="theUsersSearch pright" style="display:none">
            @Html.Action("SearchUsers", "Search")
            <span v-if="EvaluationsMoreLoad==false" style="width: 100%;
        font-size: 1.2rem;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        height: 5rem;
        font-weight: bolder;
    ">没有了哟~</span>
        </div>
    </div>
    <script>
        var cTitle = null;
        //title改变
        document.addEventListener("visibilitychange", function () {
            if (document.visibilityState == "hidden") {
                //页面隐藏情况
                document.title = '别走啊 (´ﾟДﾟ`) 我这挺好的呀';
            } else if (document.visibilityState == "visible") {
                //页面显示情况
                document.title = '(*ﾟ3ﾟ) 这才对嘛~';
                clearTimeout(cTitle);
                cTitle = setTimeout(function () {
                    if (document.visibilityState == "hidden") {
                        document.title = '别走啊 (´ﾟДﾟ`) 我这挺好的呀';
                    } else {
                        document.title = keyWord;
                    }
                }, 1000);
            }
        });

        //回到顶部
        $("#totop").click(function () {
            $("html, body").animate({ scrollTop: $("body").offset().top }, 800);
        })

        function Loginout(data) {
            var random = Math.floor(Math.random() * (100000 - 10000 + 1) + 10000);
            var id = 'tip-' + random;
            var winWidth = parseFloat(window.innerWidth) / 2 - 200;
            var tip = $('<div>').addClass('float-tip text-center form-control').css({ //提示内容div
                'background-image': 'linear-gradient(to right, #a5a5a5 0%, #555555 70%, #333333 100%)',
                'color': 'white',
                'height': 'auto',
                'min-height': '40px',
                'position': 'fixed',
                'top': '7%',
                'left': winWidth + 'px',
                'width': '400px',
                'z-index': '3200',
                'border': '1px solid white',
                'padding': '10px 10px 10px 50px',
                'box-shadow': '3px 3px 3px #999999',
                'display': 'none',
                'opacity': 0.2,
            }).html(data).attr('id', id);
            var leftDiv = $('<div>').css({ //图标
                'position': 'fixed',
                'width': '40px',
                'height': '30px',
                'margin-top': '-25px',
                'margin-left': '-45px',
                'border-radius': '3px',
                'color': 'black',
                'padding': '5px 0px',
                'background-image': 'url(../public/static/uploads/img/check-active.svg)',
                'background-background-repeat': 'no-repeat',
                'background-position': 'center center',
                'background-repeat': 'no-repeat',
                'opacity': '0.9'
            }).html('');
            tip.append(leftDiv);
            $('body').append(tip.show());
            document.getElementById(id).animate({
                top: '2%',
                opacity: '1'
            }, 500, 'easeOutQuart');
            setTimeout(function () {
                document.getElementById(id).style.top = '2%';
                document.getElementById(id).style.opacity = '1';
            }, 500)
            setTimeout(function () {
                document.getElementById(id).animate({
                    opacity: '0'
                }, 400, 'easeOutQuart');
                setTimeout(function () {
                    document.getElementById(id).remove();
                }, 400)
            }, 800)
            //alert(data)
            setTimeout(function () {
                location.reload();
            }, 1300)
        }

        $(function () {
            $(".user-center__nav div").each(function (index) {
                $(this).click(function (e) {
                    //加高亮
                    $(this).addClass("highlight").siblings().removeClass("highlight");
                    $(".pright").eq(index).show().siblings(".pright").hide();
                })
            })
        })

        function addSearch() {
            if ($('#input_text').val() == "") {
                window.location.href = "/Search/OriginSearch";
            }
            else {
                const url = "/Search/Search?KeyWord=" + $('#input_text').val()
                window.location.href = url;
            }
        }
    </script>
</body>
</html>
