@model IEnumerable<Models.tempSearchEvaluation>

@{
    ViewBag.Title = "SearchEvaluation";
}
<meta name="referrer" content="no-referrer">

<script src="~/assets/js/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<style>
    .review-item {
        font: 12px Helvetica,Arial,sans-serif;
        line-height: 1.62;
        font-size: 13px;
        color: rgb(17, 17, 17);
        margin: 0;
        padding: 20px 0px;
        position: relative;
    }

    .subject-img {
        font: 12px Helvetica,Arial,sans-serif;
        line-height: 1.62;
        font-size: 13px;
        cursor: pointer;
        color: #666699;
        text-decoration: none;
        display: block;
        float: left;
        margin-right: 20px;
        max-width: 75px;
        max-height: 107px;
    }

    .imagePic {
        font: 12px Helvetica,Arial,sans-serif;
        line-height: 1.62;
        font-size: 13px;
        cursor: pointer;
        color: #666699;
        border: 0;
        border-width: 0;
        vertical-align: middle;
        max-width: 100%;
    }

    .main-hd {
        font: 12px Helvetica,Arial,sans-serif;
        position: relative;
        line-height: 1.4;
        color: rgb(153, 153, 153);
        overflow: hidden;
        padding: 0px;
        margin-bottom: 0px;
        height: 24px;
        font-size: 0px;
    }

    .ThePortrait {
        font: 12px Helvetica,Arial,sans-serif;
        line-height: 1.4;
        font-size: 0px;
        cursor: pointer;
        color: #666699;
        width: 24px;
        height: 24px;
        border: 0;
        border-width: 0;
        vertical-align: middle;
        max-width: 100%;
    }

    .name {
        font: 12px Helvetica,Arial,sans-serif;
        line-height: 1.4;
        cursor: pointer;
        color: #666699;
        text-decoration: none;
        font-size: 13px;
        margin-left: 10px;
        vertical-align: middle;
    }

    .main-meta {
        font: 12px Helvetica,Arial,sans-serif;
        line-height: 1.4;
        margin: 0px 0px 0px 5px;
        font-weight: 300;
        color: rgb(153, 153, 153);
        font-size: 13px;
        margin-left: 10px;
        vertical-align: middle;
    }

    .main-bd {
        font: 12px Helvetica,Arial,sans-serif;
        line-height: 1.62;
        font-size: 13px;
        color: rgb(17, 17, 17);
        overflow-wrap: break-word;
        margin: 10px 0px 0px;
        padding: 0px 10px 0px 100px;
    }

    h2 {
        overflow-wrap: break-word;
        padding: 0;
        font: 15px Arial, Helvetica, sans-serif;
        color: #072;
        margin: 0 0 12px 0;
        line-height: 150%;
        font-size: 14px;
        margin-bottom: 10px;
        margin-top: 0px;
    }

    .review-short {
        font: 12px Helvetica,Arial,sans-serif;
        line-height: 1.62;
        font-size: 13px;
        overflow-wrap: break-word;
        padding: 0;
        color: rgb(73, 73, 73);
        overflow: hidden;
        word-break: break-word;
        margin: 0px;
        cursor: pointer;
    }

    .short-content {
        font: 12px Helvetica,Arial,sans-serif;
        line-height: 1.62;
        font-size: 13px;
        overflow-wrap: break-word;
        color: rgb(73, 73, 73);
        word-break: break-word;
        cursor: pointer;
        margin: 0;
        padding: 0;
    }

    .hidden {
        font: 12px Helvetica,Arial,sans-serif;
        line-height: 1.62;
        font-size: 13px;
        color: rgb(17, 17, 17);
        overflow-wrap: break-word;
        margin: 0;
        padding: 0;
        display: none;
    }

    .action {
        font: 12px Helvetica,Arial,sans-serif;
        line-height: 1.62;
        font-size: 13px;
        color: rgb(17, 17, 17);
        overflow-wrap: break-word;
        margin: 0;
        padding: 0;
        margin-top: 18px;
    }

    .Thetitle {
        margin-bottom: 0rem;
        font-weight: 500;
        line-height: 1.2;
        font-size: 1rem;
    }

    .ToDo {
        cursor: pointer;
    }
</style>
<script>
    //页面加载dom架构后直接填入数据
    function loadingConcent(id, type) {
        $.ajax({
            type: "get",
            url: '/Search/GetEvaluation',
            data: {
                id: id,
                type: type
            },
            success: function (data) {
                if (type == 1) {            //隐藏部分
                    var cdata = data.replace(/\\n/g, '<br/>'); //\为转义字符 g表示全局
                    $("#LongValue" + id).html(cdata)
                }
                else {                      //预览部分
                    var cdata = data.replace(/\\n/g, '<br/>'); //\为转义字符 g表示全局
                    $("#ShortValue" + id).html(cdata+"...")
                }
            }
        })
    }

    function openList(id) {
        if ($(".unfold" + id).attr("title") == "展开") {
            var short = $("#ShortValue" + id).html();
            short = short.substring(0, 300/*short.length-3*/);          //有点小缺陷，有时间改
            var long = short + $("#LongValue" + id).html();
            $("#ShortValue" + id).html(long);
            $(".unfold" + id).text("收起");
            $(".unfold" + id).attr("title", "收起");
        }
        else {
            var short = $("#ShortValue" + id).html();
            var value = short.substring(0, 300);
            $("#ShortValue" + id).html(value+"...");
            $(".unfold" + id).text("展开");
            $(".unfold" + id).attr("title", "展开");
            $("html, body").animate({ scrollTop: $(".E" + id).offset().top }, 1000);
        }
    }
</script>
@foreach (var item in Model)
{
    <div class="@("E" + item.Evaluationid)">
        <div class="main review-item" id="@("E" + item.Evaluationid)">
            <a class="subject-img" href="../Animation/details?id=@item.Animationid">
                <img class="imagePic" alt="@item.Aname" title="@item.Aname" src="@item.AimagePic" onload="loadingConcent(@item.Evaluationid, 2); loadingConcent(@item.Evaluationid, 1);">
            </a>

            <header class="main-hd">
                <a href="../User/Center/@item.Userid" class="avator">
                    <img class="ThePortrait" width="24" height="24" src="@item.Portrait">
                </a>

                <a href="../User/Center/@item.Userid" class="name">@item.UserName</a>

                <span class="main-title-rating">@item.Score</span>

                <span content="@item.Time" class="main-meta">@item.Time</span>


            </header>


            <div class="main-bd">

                <a href="../Evaluationid/Details/@item.Evaluationid" class="Thetitle">@item.Title</a>

                <div class="review-short">
                    <div id="@("ShortValue"+item.Evaluationid)" class="short-content">

                        &nbsp;
                    </div><a onclick="openList(@item.Evaluationid)" class="@("unfold"+item.Evaluationid)" title="展开">展开</a>
                </div>

                <div class="hidden">
                    <div id="@("LongValue"+item.Evaluationid)" class="full-content"></div>
                </div>

                <div class="action">
                    <span class="ToDo" onclick="addlike(@item.Evaluationid)" style=" margin-right: 2rem;">
                        <img src="~/public/static/uploads/img/点赞.png">
                        <span id="@("TheLikeNmum"+item.Evaluationid)">
                            @item.Likenum
                        </span>
                    </span>
                    <span class="ToDo" onclick="adddislike(@item.Evaluationid)">
                        <img src="~/public/static/uploads/img/点踩.png">
                        <span id="@("TheDislikeNmum"+item.Evaluationid)">
                            @item.Dislikenum
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
}

<script>
    function addlike(id) {
        $.ajax({
            url: "/Evaluationid/AddLike",
            type: "post",
            data: {
                id: id
            },
            success: function (res) {
                if (res == "login") {
                    alert("请先登录")
                    sessionStorage.setItem('thePass', window.location.href);
                    window.location.href = "/Users/Login";
                } else {
                    $("#TheLikeNmum"+id).html(res);
                }
            }

        })
    }

    function adddislike(id) {
        $.ajax({
            url: "/Evaluationid/AdddisLike",
            type: "post",
            data: {
                id: id
            },
            success: function (res) {
                if (res == "login") {
                    alert("请先登录")
                    sessionStorage.setItem('thePass', window.location.href);
                    window.location.href = "/Users/Login";
                } else {
                    $("#TheDislikeNmum" + id).html(res);
                }
            }
        })
    }
</script>